.uv-result {
  background-color: darkgray;
  min-height: 5px;
  max-height: 5rem;
}

.uv-result span {
  word-break: break-word;
}

.uv-percentage-container {
  margin-top: 2rem;
}

.uv-percentage-calculator {
  margin-top: 2rem;
}

.uv-field-label {
  height: 3rem;
  display: flex;
  align-items: end;
}
