:root {
  --color-primary: #1976d2;
  --color-success: #5cb85c;
  --color-info: #5bc0de;
  --color-warning: #f0ad4e;
  --color-danger: #d9534f;
  --color-inverse: #292b2c;
  --color-faded: #f7f7f7;
}

/* Color clases for themes started */
.uv-bg-primary {
  background-color: var(--color-primary);
}
.uv-bg-success {
  background-color: var(--color-success);
}
.uv-bg-info {
  background-color: var(--color-info);
}
.uv-bg-warning {
  background-color: var(--color-warning);
}
.uv-bg-danger {
  background-color: var(--color-danger);
}
.uv-bg-inverse {
  background-color: var(--color-inverse);
}
.uv-bg-faded {
  background-color: var(--color-faded);
}

.uv-bg-lavender {
  background-color: lavender;
}

.uv-color-primary {
  color: var(--color-primary);
}
.uv-color-success {
  color: var(--color-success);
}
.uv-color-info {
  color: var(--color-info);
}
.uv-color-warning {
  color: var(--color-warning);
}
.uv-color-danger {
  color: var(--color-danger);
}
.uv-color-inverse {
  color: var(--color-inverse);
}
.uv-color-faded {
  color: var(--color-faded);
}
/* Color clases for themes ended */

html {
  scroll-behavior: smooth;
}

body {
  background-color: lavender;
}

.uv-font-medium {
  font-family: "IBM Plex Serif", serif;
}

.uv-text-center {
  text-align: center;
}

.inlineElement {
  display: inline-block;
}
.blockElement {
  display: block;
}
.fullWidth {
  width: 100%;
}

.hidden {
  display: none !important;
}

.cursorPointer {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Add below class to parent element to align it's children centrally*/
.uv-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uv-component-label {
  font-size: 2.5rem;
  text-align: center;
}

.uv-row {
  margin-top: 5rem;
  justify-content: center;
}

.uv-row h1 {
  font-size: 5rem;
}

.uv-container {
  margin-top: 0;
}

.success {
  color: green;
}
.error {
  color: red;
}

.rem-top-1 {
  margin-top: 1rem;
}

.rem-top-2 {
  margin-top: 2rem;
}

.rem-bottom-1 {
  margin-bottom: 1rem;
}

.rem-bottom-2 {
  margin-bottom: 2rem;
}

.uv-modules-container {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1200px) {
  #uv-app .container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 767px) {
  .uv-container {
    margin-top: 0;
  }
  .uv-card {
    margin-bottom: 1rem;
  }
}
